.App {
  text-align: center;
  background-color: #333231;
  height: 100dvh;
  color: #f5f1ee;
  overflow-y: auto;
}


.App::-webkit-scrollbar{
  display: none;
}



.posts{
  max-width: 600px;
  margin:  auto;
  margin-top: 10dvh;
  /* border: 2px solid red; */
  max-height: 80dvh;
  overflow-y: auto;
  /* background-color: rgba(71, 68, 68, 0.6); */
  
}
.posts::-webkit-scrollbar{
  display: none;
}
.App::-webkit-scrollbar{
  display: none;
}
.post{
  max-width: 590px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px; 
  /* background-color: rgba(71, 68, 68, 0.6); */
  
}

.middlecol{
  border: 2px solid red;
}

.formErrors{
  color: rgb(244, 12, 12);
  font-size: smaller;
  
}

.loginForm{
  box-sizing: border-box;
  max-width: 550px;
  margin:auto auto;
  flex: auto;
  padding: 20px;
  border: 1px solid rgba(71, 68, 68, 0.6);
  background-color: rgba(71, 68, 68, 0.6);
  border-radius: 20px;
}
.btn{
  margin: 0px 5px;
  background-color: rgba(71, 68, 68, 0.6);
}

.navbar{
  margin: 10px;
  margin-bottom: 0px;
  border-radius: 15px;
  background-color: #222121;
}

.likeButton{
  box-sizing: border-box;
  height: 25px;
  width: 75px;
  background-color: #e9e9ea;
  border: 0px ;
  border-radius: 10px;
  margin-left: 10px;
  padding-bottom: 20px ;
  font-size: 15px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.card{

  background-color: #282c34;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form
{
  width: 500px;
  margin: auto;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
